#green {
    width: 1000px;
    height: 800px;
    background-color: green;
    position: relative;
}

.box {
    width: 250px;
    height: 250px;
    background-color: red;
    position: absolute;
}

#red1 {
    top: 0;
    left: 0;
}

#red2 {
    top: 0;
    right: 0;
}

#yellow {
    width: 50px;
    height: 50px;
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}